.table.fixed(ng-if="!forms.length && ready")
  .table-cell.align-middle(ng-if="!responsesLength")
    .text-center.gutter-vertical
      .title-lg.color-light= icon :palm 
      .text-lg.color-light.text-light {{::"js.helpers.nothing_to_show" | translate}}

.clearfix(ng-if="forms.length && ready")
  .text-row
    .title-md.font-light {{::"js.forms.all" | translate}}
  .clearfix
    .clearfix(ng-repeat="form in forms track by form.id")
      .gutter-vertical-sm.border-bottom.border-wheat
        .table.fixed
          .table-cell.align-middle.cell-8.text-md.font-light
            .clearfix
              %a.link-inherit(ng-href="/#/forms/{{::form.id}}/responses")
                {{::form.title}}
          .table-cell.align-middle.cell-4.text-right
            %a.btn.btn-default(ng-href="/#/forms/{{::form.id}}")
              .font-light {{::"js.forms.see_or_fill" | translate}}
            %a.btn.btn-default(ng-href="/#/forms/{{::form.id}}/responses")
              .font-light {{::"js.forms.responses" | translate}}

