.text-line
  .gutter-bottom-sm.font-bold {{::question.title}}
  .clearfix(ng-repeat="item in question.data track by $index")
    %label.form-chekbox.font-norm
      %input(type="radio" ng-model="$parent.question.response" ng-value="item" ng-change="checkForm()")
        {{item}}
