$text-colors: (
  ('light', #bbbbbb),
  ('gray', #757575),
  ('white', #ffffff)
);

$border-colors: (
  ('light', #d8d8d8),
  ('gray', #757575),
  ('wheat', wheat)
);

$bg-colors: (
  ('white', #ffffff),
  ('light', #fffeee)
);

