$border-radius-base: 0;
$border-radius-small:            $border-radius-base;
$border-radius-large:            $border-radius-base;

$btn-border-radius-base:         $border-radius-base;
$btn-border-radius-large:        $border-radius-large;
$btn-border-radius-small:        $border-radius-small;

$input-border-radius:            $border-radius-base;
