@mixin prop ($prop, $val, $sides){
  @each $s in $sides {
    @extend .clearfix;
    #{$prop}-#{$s}: $val;
  }
}

@mixin utility($classname, $property, $value) {
  @for $i from 1 through length($sides) {
    $c: nth($sides, $i);
    $props: nth($sides-prop, $i);
    $side: nth($sides, $i);
    .#{$classname}-#{$side}{
      @include prop($property, $value / 2, $props);
      &-xs {
        @include prop($property, $value / 5, $props);
      }
      &-sm {
        @include prop($property, $value / 3, $props);
      }
      &-2x {
        @include prop($property, $value, $props);
      }
      &-3x {
        @include prop($property, $value * 1.5, $props);
      }
      &-4x {
        @include prop($property, $value * 2, $props);
      }
    } 
  }  
}

@include utility(gutter, padding, $gutter);
@include utility(row, margin, -$gutter);

.text {
  &-line {
    @extend .gutter-bottom-2x;
  }
  &-row {
    @extend .gutter-bottom;
  }
}
