.table {
  margin: 0;
  padding: 0;
  &.fixed {
    table-layout: fixed;
  }
  display: table;
  height: 100%;
  width: 100%;
  &-cell {
    display: table-cell;
    height: 100%;
    width: 100%;
    &.auto {
      width: auto;
    }
  }
}
.cell {
  @for $i from 1 to 13 {
    &-#{$i}{
      width: percentage($i / 12);
    }
    &-#{$i}em {
      width: #{$i}em;
      &-2x {
        width: #{$i * 2}em;
      }
    }
  }
}
